.options-list {
    box-sizing: border-box;
    border: solid lightgray;
    border-width: 0px 1px 1px 1px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    position: absolute;
    background-color: white;
    overflow: scroll;
}

.option {
    padding: 10px;
}

.selected {
    color: lightblue;
}